<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.collinguarino.nowmanager"
    android:versionCode="12"
    android:versionName="1.42" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nowmanagericon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true">

        <activity
            android:name="com.collinguarino.nowmanager.Main"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <!-- Adjust pan helps edit text views keep focus on the list view. -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.collinguarino.nowmanager.Settings"
            android:label="Settings              "
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName="com.collinguarino.nowmanager.Main"/>

        <!--Accessible to third party apps (ie. Trigger/NFC Task Launcher, other automation)-->
        <activity
            android:name="com.collinguarino.nowmanager.AddNewLog"
            android:label="Add New Log"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName="com.collinguarino.nowmanager.Main">

            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>

        </activity>

        <provider
            android:authorities="com.collinguarino.nowmanager.provider"
            android:name=".provider.NowManagerProvider"/>

    </application>

</manifest>
